@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  margin: -4px -6px;
  border: 1.5px solid #c0392b;
  justify-content: center;
}
.lamok-box {
  margin: 0;
  padding-bottom: 10px;
}

.shadow-custom1 {
  --tw-shadow: 0px 2px 40px 0px rgba(8, 70, 78, 0.08);
  --tw-shadow-colored: 0px 2px 40px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.cutive-regular {
  font-family: "Cutive", serif;
  font-weight: 400;
  font-style: normal;
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity));
}

.active {
  --tw-text-opacity: 1;
  color: rgb(28 188 207 / var(--tw-text-opacity));
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 10px;
}

.boxh {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.box2 {
  grid-column-start: 4;
  grid-column-end: 4;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2a {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box3 {
  grid-column-start: 5;
  grid-column-end: 5;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box3a {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box4 {
  grid-column-start: 6;
  grid-column-end: 6;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.box4a {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.boxr {
  flex-direction: column;
}

.nested {
  color: red;
  font-size: 20px;
}
